---

---

<nav>
<ul>
    <li><a href="/">Home</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="https://pbs.twimg.com/profile_images/1080189435688280064/_JELKHv1_400x400.jpg">Picture of a cow</a></li> 
</ul>
</nav>
<slot />