---
const { title } = Astro.props;
import Nav from '../components/Nav.astro'
---

<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{ title }</title>

  <link rel="icon" type="image/svg+xml" href="/favicon.svg">
  <link rel="stylesheet" href="/style/global.css">
  <link rel="stylesheet" href="/style/home.css">

</head>

<body>
<h1>Welcome to my site</h1>
  <Nav />
<slot />
</body>
</html>